.peliculas{
    height: 5em;
}

#popcorn{
    width: 50%;
    margin-top: 0;
}

#popcorn2{
    width: 50%;
    margin-top: 0;
    object-position: right;
}

.imagen{
    padding: 0;
}

#secret{
    margin-top: auto;
}

.pelicula{
    width: 100%;
    height: 10.5em;
}
