
#popcorn{
    width: 100%;
    margin-top: 0;
    margin-left: 0;
}

#popcorn2{
    width: 100%;
    margin-top: 0;
    object-position: right;
    margin-right: 0;
}

.imagen{
    padding: 0;
}

#secret{
    margin-top: auto;
}

.pelicula{
    width: 100%;
}

.secretCombo{
    cursor: pointer;
}

.comprar{
    position: absolute;
    background-color:rgba(64, 64, 64, 0.6);
    width: 100%;
    bottom: 0;
    display: none;
    height: 3em;
}









